/*
Theme Name: 	Material Gaze
Theme URI: 		http://martyhelmick.com/
Author: 		Marty Helmick
Author URI: 	http://martyhelmick.com/
Description: 	A clean and minimal child theme for the <a href="http://wordpress.org/themes/stargazer">Stargazer</a> parent theme.
Version: 		1.0
License: 		GNU General Public License v2 or later
License URI: 	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: 	Material Gaze
Tags:
Template:		stargazer
*/



@import "settings.global";
@import "settings.colors";
@import "settings.responsive";

@import "tools.mixins";

@import "base.links";
// @import "base.layouts";

// @import "objects.code";
// @import "objects.header";
// @import "objects.footer";

// @import "components.typography";
// @import "components.buttons";
// @import "components.quotes";
// @import "components.breadcrumbs";

@import "generic.shared";
